/*Variable de Font 
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Righteous', cursive;
font-family: 'Sedgwick Ave Display', cursive;*/

:root  {
    --fontsecondary:'Lobster', cursive;
    --fontthird:'Abril Fatface', cursive;
    --fontmain: 'Sedgwick Ave Display', cursive;
    --fontfourth: 'Righteous', cursive;
}
.Gero {
    font-family: var(--fontfourth);
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding-left: 20px;
    }
#navbarSupportedContent{
    font-family: var(--fontsecondary);
    font-size: 1.2rem;

}
#navbarSupportedContent li{
    padding-left: 20px;
    margin: auto;
    text-align: none;

}
.Gero:hover {
    Color: white;
    }

/*Inicio Seccion*/
.InicioA {
    background: linear-gradient (to top, rgba(30,35,38,.8),  rgba(30,35,38,1));
    background-size: cover;
    height: 110vh;
    color: #fff;
    display: flex;
    align-items: center;
    }

    .InicioA .contenido-banner {
        padding: 20px;
        background-color: #1e2326;
        max-width: 600px;
        margin:auto;
        text-align: center;
        border-radius: 40px;
    }
    .contenedor-img {
        padding-left: 0x;
        
        }
    .imgB {
        object-fit: cover;
        height: 415px;
        width: 425px;
        border-radius: 100%;
    }
    .Yo {
        font-family: var(--fontfourth);
    } 
    .Tu {
        font-family: var(--fontsecondary);
    }
/*Comenzamos con Datos personales */
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.sobremi .contenido-seccion p span{
    color: #1e3bc7;
    font-weight: bold;
    
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 35px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1e3bc7;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #1e3bc7;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
/*Seccion Skills*/

.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: hsl(231, 73%, 41%);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #2e1cb6;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 15%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 35%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
}